<div id='text_1' class='text_block scroll-pane'>
      <%= form_tag("/users/login", method: "post", class: 'data-pjax') do %>
          <%= label_tag(:q, "Никнейм:") %>
          <%= text_field_tag(:nickname) %>
          <%= label_tag(:q, "Пароль:") %>
          <%= password_field_tag(:password) %>
          <%= submit_tag("Войти") %>
      <% end %>
      <%= link_to "Регистрация", new_user_path(), class: 'data-pjax-link' %>
      <div style="color: red"><%= @message %></div>
</div>