<div id='text_1' class='text_block scroll-pane'>
  <%= form_tag("/users/login", method: "post", class: 'data-pjax') do %>
      <%= label_tag(:q, "Имя:") %>
      <%= text_field_tag(:name) %>
      <br>
      <%= label_tag(:q, "Пароль:") %>
      <%= password_field_tag(:password) %>
      <%= submit_tag("Login") %>
  <% end %>
  <%= link_to "Регистрация", new_user_url() %>
</div>