<script>users_new_intialize()</script>

<div id='simple_text_block' class='dark_text_block scroll-pane'>
  <% if @user.errors.any? %>
      <div id="new_error_explanation">
        <h2>Проверьте поля формы регистрации:</h2>
        <ul>
          <% @user.errors.full_messages.each do |msg| %>
              <li><%= msg %></li>
          <% end %>
        </ul>
      </div>
  <% end %>

  <%= form_for :user, url: {action: "create"}, html: {class: 'data-pjax', id: 'registration_form'} do |f| %>
      <%= label_tag(:q, "Никнейм:") %> <br>
      <%= f.text_field :nickname, id: "user_nickname" %>
      <br>
      <%= label_tag(:q, "Пароль:") %> <br>
      <%= f.password_field :password, id: "user_password" %>
      <br>
      <%= f.password_field :password_confirmation %>
      <br>
      <%= label_tag(:q, "Email:") %> <br>
      <%= f.text_field :email %>
      <br>
      <%= label_tag(:q, "Дата рождения:") %> <br>
      <%= f.date_select :date_of_birth%>
      <br>

      <%= f.submit "Зарегистрироваться" %>

  <% end %>
</div>