<script type="text/javascript" src="/localization/messages_<%= params[:locale] ? params[:locale] : 'ru' %>.js"> </script>

<div id='simple_text_block' class='dark_text_block scroll-pane'>
  <% if @form.errors.any? %>
      <div id="new_error_explanation">
        <h2><%= I18n.t('views.messages.check_form_creation_form') %></h2>
        <ul>
          <% @form.errors.full_messages.each do |msg| %>
              <li><%= msg %></li>
          <% end %>
        </ul>
      </div>
  <% end %>

  <%= form_for :form, url: {action: "create"}, html: {class: 'data-pjax', id: 'form-new'} do |f| %>
      <%= label_tag(:q, I18n.t('activerecord.attributes.form.game')) %>
      <%= game_tag "form[game]" %><br>
      <%= label_tag(:q, I18n.t('activerecord.attributes.form.count')) %>
      <%= select_tag "form[count]", options_for_select([[2, 2], [3, 3], [4, 4], [5, 5]]) %><br>
      <%= label_tag(:world_part, I18n.t('activerecord.attributes.form.worldparts')) %><br>
      <%= label_tag(:q, I18n.t('views.forms.europe')) %>
      <%= f.radio_button :europe, 1%><br>
      <%= label_tag(:q, I18n.t('views.forms.australia')) %>
      <%= f.radio_button :australia, 1 %><br>
      <%= label_tag(:q, I18n.t('views.forms.asia')) %>
      <%= f.radio_button :asia, 1 %><br>
      <%= label_tag(:q, I18n.t('views.forms.north_america')) %>
      <%= f.radio_button :north_america, 1 %><br>
      <%= label_tag(:q, I18n.t('views.forms.south_america')) %>
      <%= f.radio_button :south_america, 1 %><br>
      <%= label_tag(:q, I18n.t('views.forms.africa')) %>
      <%= f.radio_button :africa, 1 %><br>
      <%= label_tag(:q, I18n.t('activerecord.attributes.form.age_from')) %>
      <%= f.select :age_upto, options_for_select([[I18n.t('views.forms.any'), 0]].concat (1...100).map {|i| [i, i]}) %>
      <%= label_tag(:q, I18n.t('activerecord.attributes.form.age_upto')) %>
      <%= f.select :age_from, options_for_select([[I18n.t('views.forms.any'), 100]].concat (0...99).map {|i| [i, i]}) %><br>

      <%= f.submit I18n.t('views.forms.submits.create_from') %>

  <% end %>
</div>